/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@font-face {
    font-family: 'ChunkFive';
    src: url('./webfonts/ChunkFive-Regular.woff') format('font-woff'),
         url('./webfonts/ChunkFive-Regular.woff2') format('font-woff2');
    font-weight: normal;
    font-style: normal;
    }

body {
    background-color: #2d3748;
    padding: 0.5rem 1.5rem;
    font-family: "ChunkFive", Arial, Sans-serif;
    font-weight: 400;
    font-size: 1.5rem;;
    letter-spacing: 0.05em;
}

button {
    font-family: "ChunkFive", Arial, Sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

@tailwind utilities;
